body{
    background-color:white ;
}

#button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 500px 500px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.grey-element{
    background-color: lightgrey; 
    width: 200px;
    height: -50px;
    
    
}

#text{
    font-family: bold;
    font-size: 30px;
    text-align: center;
    text-shadow: 30px;
   
}
#spec{
    font-family: cursive;
    font-size: 20px;
}
#img{
    border: 30px;
}